<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/booktest/jquery-1.12.4.min.js"></script>
    <script>
        $(function () {
           //使用ajax加載省
           $.get('/pro/',function (list) {
                pro = $('#pro')
                $.each(list.data,function (index,item) {
                    pro.append('<option value="'+item[0]+'">'+item[1]+'</option>\n')
                });
           });
            //查詢市的訊息
            $('#pro').change(function () {
                $.get('/city'+$(this).val()+'/',function (list) {
                    city=$('#city');
                    city.empty();
                    $('#dis').empty().append('<option value="0">請選擇區縣</option>\n');
                    $.each(list.data,function (index,item) {
                        city.append('<option value="'+item.id+'">'+item.title+'</option>\n')
                    });
                });
            })
            $('#city').change(function () {
                $.get('/city'+$(this).val()+'/',function (list) {
                    dis = $('#dis').empty().append('<option value="0">請選擇區縣</option>\n');
                    $.each(list.data,function (index,item) {
                        dis.append('<option value="'+item.id+'">' +
                            item.title +
                            '</option>\n')
                    })
                })
            })
        });
    </script>
</head>
<body>
<select name="" id="pro">
    <option value="0">請選擇省</option>
</select>
<select name="" id="city">
    <option value="0">請選擇市</option>
</select>
<select name="" id="dis">
    <option value="0">請選擇區縣</option>
</select>
</body>
</html>